
/* imp styles. */
/*********************************************************/
/*
 * imp/themes/theme/dynamic/screen.css
 */


/* Message ViewPort */
/* Rows */
/* this is overidden by imp/lib/Flag/Imap/Answered.php if not properly nested */
.msgwrite ,
div.msglist .vpRowHoriz.flagAnswered div { 
    background-color: #020;
}

div.msglist .vpRowHoriz.flagAnswered.vpRowSelected div{ 
    background-color: #030 !important;
    color: #fff;
}


/* Headers styles. */
.msgHeaders {
    padding: 10px 6px 10px 4px;
    background-color: #010; 
    border-bottom: 1px solid #020;
    max-height: 300px; /* CHANGE */
    overflow-x: hidden;
    overflow-y: auto;
}

.msgHeaders a {
    color: #0A0; /* CHANGE */
}


/* kronolith styles. */
/*********************************************************/
/*
 * kronolith/themes/theme/dynamic/screen.css
 */
/* Mini calendar */
.kronolith-minical {
    background-color: #020;
}

.kronolithDialog {
    border: 1px #040 solid;
}

.kronolith-view-head .kronolith-all-day {
    background-color: #050 ;
}
 * */

#kronolithViewWeek .kronolith-view-head .kronolith-event,
#kronolithViewWorkweek .kronolith-view-head .kronolith-event {
    background-color: #050 !important;
    color: #0A0 !important; /* CHANGE */
}
