/* ===========================================================
** Version: 0.1
** Author: keckclip@gmail.com
** =========================================================== */



/* Global default styles. */


/*********************************************************/
/*
 * themes/theme/screen.css
 */


body {
/* CHANGE */
    background: #000; /* CHANGE */
    color: #0A0; /* CHANGE */
}

/* Tables. */
table.stock {
    border-top: 1px solid #030;
    border-left: 1px solid #030;
}
table.horde-table th ,
table.horde-table th.sortdown, table.horde-table th.sortup,
table.stock th,th {
    background: #030;
    border-right: 1px solid #050;
    border-bottom: 1px solid #060;
    font-weight: bold;
}

table.horde-table td, 
table.stock td,td {
    border-right: 1px solid #050;
    border-bottom: 1px solid #050;
    background: #010;
}

.base-category,
.kronolithTaskCol .kronolithTask {
    background: #010 !important;
    color: #0A0 !important; /* CHANGE */
}
.sortdown {
    background-color: transparent;
    background: url("graphics/az.png") left center no-repeat;
    text-indent: 15px;
}


.pri-3 {
    color: #0A0;
}
/* Sidebar. */
#horde-sidebar {
    background-color: #000; /* CHANGE */
}

#horde-sidebar a {
    color: #0A0; /* CHANGE */
}

.horde-new {
    background-image: none;
    background-repeat: repeat-x;
    border-bottom: 1px solid #787878;
    overflow: hidden;
    font-size: 100%;
line-height: 150%;
    font-weight: bold;
    color: #0D0;
    text-shadow: -1px -1px 0px #000;
}

.horde-subnavi-active, .horde-subnavi:hover {
    height: 20px;
    background-image: none;
    background-repeat: repeat-x;
    background-color: #020; /* CHANGE */
}
.treanACBox {
  background: none;
  border: 0px solid #d0d0d0;
}

.box {
    border: 1px dashed #040;
    background: none;
}

/* Topbar. */
#horde-search #horde-search-input, #horde-search .horde-fake-input {
    background: #000;
    color: #0A0;
}

#horde-search #horde-search-input {
    width: 80%;
    padding: 0 5px 0 5px;
}

#horde-search .horde-fake-input #horde-search-input {
    padding: 0 5px 0 0;
    width: 80%;
    margin: 0;
    float: none;
}
a.horde-mainnavi:link, a.horde-mainnavi:visited, a.horde-mainnavi:active {
    display: block;
    color: #0A0;
}
.horde-dropdown ul ,
.horde-dropdown ul li {
    background: #020;
    background-color: #020;
    border-bottom: 1px solid #040;
}

.horde-point-left-active, 
.horde-point-center-active,
.horde-point-right-active {
    background-image: none;
    background-repeat: no-repeat;
    background-color: #020; /* CHANGE */
}

#horde-head {
    width: 100%;
    height: 34px;
    background-image: none;
    background-repeat: none; 
    background-color: #000;
    border-bottom: 2px solid #000;
}
#horde-logo {
    float: left;
    width: 200px;
    height: 34px;
/*
background-image: none;
    background-color: #000; 
 */    
    background-image: url("graphics/horde_logo.png");
    background-repeat: no-repeat;
}

#horde-version {
    display: none;
    float: left;
    height: 16px;
    padding: 18px 10px 0px 0px;
    font-size: 90%;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    text-shadow: 1px 1px 0px #000;
}

/* Styles for email-like messages. */
.quoted1 {
    color: #0A0;
    border-color: #606;
    background-color: #020; /* CHANGE */
}

/* main window */
.control {
    background: #020;
    color: #0F0;
}

.horde-block-weather tr.rowEven td
{
    background-color: #010;  /* CHANGE */
    border: 1px solid #050;
}

/* Slider. */
.horde-splitbar-vert ,
.horde-splitbar-horiz-handle , 
.horde-splitbar-vert-handle {
    background-image: none;
    background-repeat: no-repeat;
    background-color: #020;  /* CHANGE */
}


/* Buttonbar. */
.horde-buttonbar li ,
.horde-buttonbar {
    background-image: none;
    background-color: #010;  /* CHANGE */
}

.horde-buttonbar, .horde-buttonbar a, .horde-buttonbar a:link,
.horde-buttonbar a:visited, .horde-buttonbar a:active {
    color: #0A0;
    font-weight: bold;
    text-decoration: none;
}

.horde-buttonbar li:hover, .horde-buttonbar li.horde-active {
    background-repeat: no-repeat, repeat-x;
    background-image: none;
    background-color: #040;  /* CHANGE */
}

.horde-form-buttons {
    background-color: #020;
}

/* Horde UI standard tables */
.horde-table-header, table.horde-table thead tr {
    background-image: none;
    background-repeat: repeat-x;
}
.horde-table-header a, table.horde-table thead a {
    color: #0A0;
}
/* Main body. */
#horde-body {
    border-bottom: 1px solid #050;
}

.headerbox {
    border: 1px solid #060;
    border-top-width: 0;
    background: #040;
    color: #0E0;
}

#horde-sidebar .horde-new-link a, .horde-new-link a {
    padding-left: 28px;
    margin: 5px 10px 0 10px;
    color: #0B0;
}


.horde-table-header div {
    background-color: #050;  /* CHANGE */
    color: #0E0;
    font-weight: bold;
}
.horde-table-header .horde-split-left,
table.horde-table thead .horde-split-left,
.horde-table-header .horde-split-right,
table.horde-table thead .horde-split-right {
    background-image: none;
    background-repeat: no-repeat;
}

/* Sub bar. */
#horde-sub {
    background-color: #010;
}


a ,
#horde-date,
#horde-info,
#horde-info a {
    color: #0A0;
}

/* imp styles. */
/*********************************************************/
/*
 * imp/themes/theme/screen.css
 */

/* Style for HTML data iframe. */
.htmlMsgData {
    background-color: #0A0;  /* CHANGE */
}

select option ,
.mimePartInfo div ,
.mimeStatusMessageTable {
    background: #020;
    border: 1px solid #030;    
color: #0A0;
}

.mimePartWrap, .mimePartWrapValid, .mimePartWrapInvalid {
    border: 1px solid #020;
}

input[type="submit"], input[type="button"], input[type="reset"],
a.horde-button, a.horde-default, a.horde-delete {
    background-image: none;
    background-repeat: repeat-x;
    border: 1px solid #020;
    color: #0A0;
}
/* kronolith styles. */
/*********************************************************/
/*
 * kronolith/themes/theme/screen.css
 */

/* Calendar styles. */
.kronolithMonthDay  
{
    background-color: #030; /* CHANGE */
}


.kronolithMonthDay div.kronolith-event[style] 
{
    background-color: #0A0 !important ; /* CHANGE */
} 


table.kronolith-view 
{
    background-color: #060; /* CHANGE border */
}

table.kronolith-view td.kronolith-first-col,
table.kronolith-view th.kronolith-first-col {
    width: 21px;
    background-color: #000; 
    vertical-align: middle;
/*    padding: 9px 0 0;*/
}
table.kronolith-view tr
{
/* CHANGE calendar*/
    background-color: #000;
}
.kronolith-weekend, .kronolithViewDay .kronolith-weekend {
/* CHANGE calendar*/
    background: #010;
	border: 10px solid #030;
border-style:dotted solid double dashed; 
}
.kronolithViewDay td {
    height: 40px;
    background-color: #030;
}
.kronolith-today, .kronolithViewDay .kronolith-today {
/* CHANGE calendar*/
    background-color: #0A0;
}
.kronolithEventsWeek div { 
/* CHANGE calendar*/
    background: #010;
}
.kronolith-minical table {
    background-color: none;
}
/*
.kronolith-minical .kronolith-selected, .kronolith-minical table td.kronolith-minical-week {
    background-color: #020;
    color: #0A0;
}
.kronolith-minical table th, .kronolith-minical table td {
    background-color: #040;
}
.kronolith-minical table th,
.kronolith-minical table td.kronolith-minical-week {
    background-color: #E60909;
    color: #6d6d6d;
}
*/
.kronolith-minical {
    background: #010!important ;
    background-color: none !important ;
}
.kronolith-minical table {
    border-spacing: 1px;
    border: 0;
    background: none !important ;
    background-color: none !important ;
}
.kronolith-minical td {
    background: none;
    background-color: none;
    padding: 10px;
    vertical-align: top;
}
.kronolith-minical table th, .kronolith-minical table td {
    background: #030;
    background-color: none;
    height: 22px;
    width: 22px;
    padding: 1px;
    text-align: center;
    vertical-align: middle;
}
td.kronolith-other-month,   
{
    background: #030;
    background-color: #030;
}
.kronolith-minical table td.kronolith-minical-week {
    background: #000;
    background-color: #000;
    color: #090;
}

.kronolith-other-month   
{
    background: #020 !important;
    background-color: #020;
}
.kronolith-minical .kronolith-other-month,
.kronolith-minical .kronolith-other-month a {
    color: #090;
}
.kronolith-minical .kronolith-selected {
    background-color: #050;
    color: #fff;
}

/* Event/task form dialogs */
.kronolithDialog {
    background-color: #020;
    border: 1px #040 solid;
}
.kronolith-minical .kronolith-today,
.kronolith-minical .kronolith-today:hover,
.kronolith-minical .kronolith-today a {
    background-color: #060;
}
/* address book styles. */
/*********************************************************/
/*
 * turba/themes/theme/screen.css
 */


/* Tab styles. */
.tabset {
    background: none;
}
.tabset li , 
.tabset li.horde-active {
    background: #010;
}
.tabset li.horde-active a ,
.tabset li a 
{
    color: #0A0;
}

.selected ,
div.horde-resource-over[style],
.text {
    color: #0A0 !important;
    background: #020 !important;
}

#horde-navigation {
    color: #0A0;
}

.header ,
.header a,
.turbaPager ,
input.horde-default, a.horde-default ,
.horde-resources div[style],
input, select, textarea {
    background-image: none;
    background-color: #010 !important;
    border: 1px solid #020 !important;
    color: #0A0 !important;
}

.linedRow, tr.linedRow td, table.linedRow td, ul.linedRow li ,
div.vpRow[style] ,
div.vpRowSelected[style] {
    background-color: #010 !important;
    color: #0A0 !important;
	border-bottom: 1px solid #050 !important;
}

.linedRow td.text {
    background-color: #040 !important;
}

.linedRow td.text span[style] ,
.linedRow td.text span a[style] {
    background-color: #0A0 !important;
}

div.flagUnseen[style]
{
    background-color: #040 !important;
    color: #0F0 !important;
}

/* Contacts styles. */
#contactstable #search {
    width: 150px;
}
#contactstable #search_results, #contactstable #selected_addresses {
    width: 100%;
}


/* more Global default styles. */
/*********************************************************/

/* for Dashboard. */
.headerbox div table td {
    background: #040 !important;
    background-color: #040 !important;
    color: #0E0;
}

.rowOdd {
    background: #040 !important;
    background-color: #040 !important;
}

.rowEven {
    background: #030 !important;
    background-color: #030 !important;
}

input[disabled], input[disabled]:hover, textarea[disabled], option[disabled] {
    background-color: #030;
    color: #0A0;
}


/* CHANGE calendar
.kronolith-event .kronolith-selected,
.kronolith-view-head .kronolithViewDay td,
.kronolith-view-head .kronolith-all-day,
.kronolithViewDay td {
    background-color: #030 !important;
}
 * */


